<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анаморфоз - современное искусство.</title>
    <link rel="stylesheet" type="text/css" href="/@projects_anamorphosis-contemporary-art.css">
</head>
<body>
    <div class="head">
        <div class="canel">
            <a href="../">
                <img src="/canel_arrow.png">
            </a>
        </div>
    </div>

    <div class="content_">
        <div class="name_post">
            Анаморфоз
        </div>
        <div class="author_post">
            <div class="group_name">Группа: рм110</div>
            <br />
            <div class="author_post_name">
                Финк Данил, Антошкин Сергей
            </div>
        </div>

        <div class="content___">

            <div class="block_2">
                <img class="image_1" src="https://i0.wp.com/www.hisour.com/wp-content/uploads/2017/11/Anamorphosis.jpg?w=960&ssl=1">                
                <div class="photos_group_name">
                    Этот вид современного искусства подразумевает технику изображения, которую можно полностью понять, взглянув на нее только с определенного места или под определенным углом. Некоторые картины можно увидеть только глядя на них в зеркало. Этот вид искусства появился во времена Леонардо да Винчи (15 век). 
                </div>
            </div>
            <div class="block_2">
                <img class="image_1" src="https://artdoart.com/uploads/file/1_eca5df89b69d9b1fb.jpg">                
                <div class="photos_group_name">
                    На протяжении веков анаморфоз развивался и в современном виде выглядит как уличное искусство. При этом виде рисунков художники реально имитируют трещины в земле, либо отверстия в стенах. 
                </div>
            </div>

            <div class="block_1">
                <img class="image_1" src="https://storage.theoryandpractice.ru/tnp/uploads/image_unit/000/039/855/image/base_65224e0e7a.jpg">                
            </div>
            <div class="block_1">
                <img class="image_1" src="https://lh3.googleusercontent.com/proxy/ZJoGcb_0AY16TGHL7OpbTEXf4KAOnz-9pahJKtKeL9ZLPUQ1hcnUGKn8-VtnQwtB3B9SmtTp5yWeQpYlHePlEOIr4oyZh6ZM9eLBh6v80nmjHs41NDf3ajmsfKh5DP8m">                
            </div>
            <div class="block_1">
                <img class="image_1" src="https://3dtoday.ru/upload/main/088/ipad2.jpg">                
            </div>
            <div class="block_1">
                <img class="image_1" src="https://static.kulturologia.ru/files/u23691/236912901.jpeg">
            </div>
            <div class="block_2">
                <div class="photos_group_name">
                    АНАМОРФОЗ В ДИЗАЙНЕ
                </div>
                <div>
                    <img class="image_2_1" src="https://archiprofi.ru/upload/resize_cache/iblock/5bb/510_350_2/5bb6f7c9dfcc4fd6b1a507148c56dfc0.jpg" id="image_editor_1">
                </div>
                <div class="photos">
                    <img class="image_2_2" onclick="image_load(0, `image_editor_1`)" src="https://archiprofi.ru/upload/resize_cache/iblock/5bb/510_350_2/5bb6f7c9dfcc4fd6b1a507148c56dfc0.jpg">
                    <img class="image_2_2" onclick="image_load(1, `image_editor_1`)" src="https://archiprofi.ru/upload/resize_cache/iblock/afd/510_350_2/afd4c79d7845f408f5ac96653bd09df6.jpg">
                    <img class="image_2_2" onclick="image_load(2, `image_editor_1`)" src="https://archiprofi.ru/upload/resize_cache/iblock/4cd/510_350_2/4cd60ec5f30f3f15954f3e0c3df28edf.jpg">
                    <img class="image_2_2" onclick="image_load(3, `image_editor_1`)" src="https://archiprofi.ru/upload/resize_cache/iblock/1e8/510_350_2/1e85d1050f035711805129b30dbb00f8.jpg">    
                </div>
            </div>

            <div class="block_2">
                <div>
                    <img class="image_2_1" src="https://pm1.narvii.com/6935/3235ff37d73743692de6fc2b2ea5a81c8ad1a097r1-1152-1152v2_hq.jpg" id="image_editor_2">
                </div>
                <div class="photos">
                    <img class="image_2_2" onclick="image_load(4, `image_editor_2`)" src="https://pm1.narvii.com/6935/3235ff37d73743692de6fc2b2ea5a81c8ad1a097r1-1152-1152v2_hq.jpg">
                    <img class="image_2_2" onclick="image_load(5, `image_editor_2`)" src="https://pm1.narvii.com/6935/5cef9f0c9b0b353cd7caaf860307dac9dc29c2e5r1-1152-1152v2_hq.jpg">
                </div>
            </div>

            <div class="block_2">
                <div>
                    <img class="image_2_1" src="https://pm1.narvii.com/6935/ef752990b079d8d6562e206b665a74c645665b52r1-1000-667v2_hq.jpg" id="image_editor_3">
                </div>
                <div class="photos">
                    <img class="image_2_2" onclick="image_load(6, `image_editor_3`)" src="https://pm1.narvii.com/6935/ef752990b079d8d6562e206b665a74c645665b52r1-1000-667v2_hq.jpg">
                    <img class="image_2_2" onclick="image_load(7, `image_editor_3`)" src="https://pm1.narvii.com/6935/aec4192ad0cd75c651e78d2d1917276f0b2de736r1-1000-600v2_hq.jpg">
                </div>
            </div>

        </div>
    </div>
    <script src="/@projects_anamorphosis-contemporary-art.js"></script>
</body>
</html>