<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNF - PROJECT's</title>

    <link rel="stylesheet" type="text/css" href="./home.css">
</head>
<body>
    <div class="head">
        <div class="name_web">
            DarkNetFox projects
        </div>
    </div>

    <% project_list.forEach(async function(item) { %>
    <div class="blog_posts">
        <div class="posts_div_name">
            <%= item.name %>
        </div>
        <hr>

        <div class="posts">
                <% item.projects.forEach(async (data) => { %>
                    <a class="post" href="<%= data.url %>">
                        <div>
                            <img class="image_post" src="<%= data.image_url %>">
                            <div class="name_post"><%= data.name %></div>
                        </div>
                    </a>
                <% }) %>
        </div>
    </div>
    <% }) %>
</body>
</html>